* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 695px;
}

.board {

    display: flex;
    flex-wrap: wrap;
    width: calc(64px * 8);
    height: calc(64px * 8);
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: gray;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.cell img:hover {
    cursor: pointer;
}

.white {
    background-color: bisque;
}

.selected {
    background-color: green;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: aqua;
}

.availableFigure {
    background-color: green;
}

.myButton {
    width: 100px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #52f28a;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.lost {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    width: 185px;
    flex-wrap: wrap;
}

.lost img {
    height: 20px;
    width: 20px;
}

.content__body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__body {
    display: flex;
    flex-direction: row;
}